*{
    margin: 0;
    padding: 0;
    box-sizing: inline-block;
    font-size: 100%;
    font-weight: normal;
     font-family: "Nunito", sans-serif;
}
:root{
    --bg-dark : #1a1b1c;
    --bg-med : #AEB894;
    --color-primaria : #00A544 ;
    --cor-secundaria :  #F7E539;
    --text-main : #fff;
    --text-title : #fefdfd;
    --titulo-main : 4rem;
    --sub : 3rem;


}
html{
    font-size: 62.5%;
}

body{
    font-size: 2rem;
    width: 100%;
    height: auto;
}

ul {
    list-style: none;

}

a{
    text-decoration: none;
    color: inherit;
}
