.menu{
    width: 100%;
    background-color: var(--bg-dark);
    color: var(--text-title);
    border-bottom: 3px solid var(--cor-secundaria);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.menu_logo{
    font-family: "Sekuya", system-ui;
    font-weight: 400;
    font-style: normal;
    padding: 2.5rem;
    font-size: var(--sub);
}

.menu_itens, li {
    display: inline-block;
    
    padding: 2.5rem;
    font-size: 1.5rem;
    padding: 1rem;
    margin: 1.3rem;
    
}

.menu_itens, li:hover{
    color: var(--color-primaria);
    font-size: 1.7rem;
    transition: 1.3s;
}

.menu_contato{
    font-size: 2.3rem;
    border: 1px solid inherit;
    
    padding: 0.2rem;
    
}
.menu_contato :hover{
    background-color: var(--color-primaria);
    color: var(--sub);
    border-radius: 0.7rem;
    transition: 1s;
}
@media(min-width: 320px){
    .menu_logo{
    padding: 1.5rem;
    
}
.menu_itens,li {
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
    margin: 0 2rem;
    padding: 0.5rem ;
    font-size: 1.5rem;
    
}
.menu_itens, li:hover{
    font-size: 1rem
}
.menu_contato{
    font-size: 1.7rem;

}

}